 
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} 
.title{
  margin-bottom: 20px;
}
.inputGroup,
.inputRelation {
  margin-bottom: 20px;
}

.nombre{
width: 80%;  
font-size: 20px;
font-weight: bold;
}

input,
select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


select {
  height: 40px;
}

.savePersonButton{
  margin: 20px;
  display: flex;
  justify-content: center;
}
