.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .productCard {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s;
  }
  
  .productCard:hover {
    transform: translateY(-5px);
  }
  
  .productImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .cardContent {
    padding: 15px;
    position: relative;
  }
  
  .productTitle {
    font-size: 1.2rem;
    color: #354037;
    margin: 10px 0;
  }
  
  .priceBubble {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #BF9B7A;
    color: #fff;
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 1rem;
  }
  .favButtonContainer {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10; /* corazón encima de la imagen */
  }
  
  .favButton {
    background: none;
    border: none;
    color: #FF5C8D;
    cursor: pointer;
    transition: color 0.3s, transform 0.2s;
  }

  .favButton img{
    width: 1.5rem;
  }
  
  .favButton:hover {
    color: #FF2A68;
    transform: scale(1.2);
  }
  