.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContent {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    width: 80%;
    height: 70%;
    overflow-y: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    position: relative;
}
  
.title{
    margin: 20px;
}

.title span{
    color: #28a745;
}

/*GiveAPresent*/
.subtitles{
    margin: 20px 0px;
}

.giftForm{
    display: flex;
    justify-content: space-around;
}

@media (max-width: 900px) {
    .giftForm {
        flex-direction: column; 
    }
}

.giftButton{
    display: flex;
    justify-content: center;
    margin: 20px;
}


.list li span{
    font-weight: bold;
}

/*editar persona*/
.filtersGroup{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); 
    grid-gap: 10px;
    margin-top: 20px;
}



.tags { 
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    gap: 10px;
}
    
.eachTag { 
    font-size: 14px;
}
  
.eachFilter { 
    width: 100%;
    padding: 8px 15px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    margin-right: 10px;
}


.eachFilter span{
    cursor: pointer;
    font-weight: bold;
    color: rgb(171, 24, 24);
}

.eachFilter span:hover{
    color: #ff5722; 
}

  
.eachTag {
    cursor: pointer;
    color: black;
    margin-left: 10px;
}
  
.eachTag:hover {
    color: #ff5722; 
}
  

  
.modalCloseButton {
    display: flex;
    justify-content: center;
    margin: 20px;
} 

.modalInput {
    width: 80%;
    height: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-top: 5px;
    font-size: 1rem;
  }
  
  .modalInput:focus {
    border-color: #2196f3;
  }

  .modalInput::placeholder{
    font-size: 0.8rem;
  }




