.navbar {
  background-color: #f8f7f6;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: black; 
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
    /* border-radius: 10px; */
}
      
.logoImage {
  height: 40px;
  margin: 5px;
  width: auto; 
  cursor: pointer; 
}


.navLinks a {
  font-weight: bold;
    margin: 30px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: color 0.3s;
  }
/* 
  .navLinks a:first-child{
    color: #cf0b05;
  } */
  
  .navLinks a:hover {
    color: #b0a169; 
  }

  .exploreLinks{
    display: flex;
  }

  .searchBar {
    flex: 1;
    margin: 15px;
    display: flex;
    justify-content: center;
  }

  .searchBar input {
    font-family: "Quicksand", serif; 
    width: 100%;
    /* max-width: 400px; */
    padding: 8px 12px;
    border: 1px solid black; 
    border-radius: 20px;
    color: black;
    background-color: #F4EBE3;
    transition: border-color 0.3s;
    /* lupa */
    background-image: url('/buscar.png'); /* Icono de lupa */
    background-size: 16px 16px; 
    background-repeat: no-repeat;
    background-position: 10px center; 
    padding-left: 35px; 
    font-size: 16px;
  }
  
  .searchBar input::placeholder{
    font-family: "Quicksand", serif; 
  }
  
  .searchBar input:focus {
    border-color: #6F171F; 
  }
  
  /* .authButtons {
    display: flex;
    gap: 10px;
  }
   */

  .profile {
    display: flex;
    align-items: center;
    gap: 0.5rem; 
    text-decoration: none;
    color: black; 
    font-weight: bold;
    font-size: 1rem;
  }
  
  .profile:hover {
    color: #BF9B7A; 
  }
  
  .profileIcon {
    width: 32px; 
    height: 32px;
  }

  .profileContainer {
    display: flex;
    align-items: center;
  }
  



/* Media Queries */
/* Media Queries para pantallas más pequeñas */
@media (max-width: 768px) {
  
  .navbar {
    flex-wrap: wrap; 
    padding: 10px;
  }


  .navLinks {
    display: none; 
    flex-direction: column;
    background-color: #f8f7f6;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .navLinks a {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    margin: 5px;
  }

  /* .navLinks a:first-child {
    color: black;
  } */

  .navLinks a:last-child {
    border-bottom: none;
    /* color: #cf0b05; */
  }

  /* .searchBar {
    display: none;
  } */

  /* .authButtons {
    flex-direction: column;
    gap: 5px;
  } */

}

/* Mostrar el menú cuando se active */
.menuButton {
  display: none;
}

@media (max-width: 768px) {
  .navBar{
    display: flex;
  }

  .navBar div{
    order: 0;
  }


  .menuButton {
    display: flex;
    background: url('/menu.png');
    background-size: contain;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: auto;
    order: 2;

  }

  .menuButton.active + .navLinks {
    display: flex; 
  }
}

/* Visibilidad controlada */
.desktopOnly {
  display: none;
}

.mobileOnly {
  display: none;
}

/*botones en menu hamburguesa*/


/* Pantallas grandes */
@media (min-width: 769px) {
  .desktopOnly {
    display: flex;
    gap: 5px;
  }
  .mobileOnly {
    display: none;
  }
}

/* Pantallas pequeñas */
@media (max-width: 768px) {
  .desktopOnly {
    display: none;
  }
   .mobileOnly {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap: 10px;
    text-align: center; 
  } 

  .exploreLinks{
    display: flex;
    flex-direction: column;
  }


}